---
---

@import "{{ site.theme }}";

header {
  background: #9ddcff;
}

.image {
  padding: 4px;
  border: #9ddcff;
}

h1, h2, h3 {
  text-align: center;
}

dt {
  font-weight: bold;
}

dd {
  font-weight: normal;
}

footer {
  text-align: center;
}