---
---

@import "{{ site.theme }}";

header {
  background: #9ddcff;

  h1 {
    margin-left 1em;
  }
}


.image {
  padding: 4px;
  border: solid 2px #9ddcff;
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

dt {
  font-weight: bold;
}

dl dd {
  font-weight: normal;
}

footer {
  text-align: center;
}