---
---

@import "{{ site.theme }}";

header {
  background: #9ddcff;
}

header h1 {
<<<<<<< HEAD
  margin-left: 1em;
=======
  margin-left 1em;
>>>>>>> fae7370301812e9cc3cd0b79bb2084ef19c80ddf
}

.image {
  padding: 4px;
  border: solid 2px #9ddcff;
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

dt {
  font-weight: bold;
}

dl dd {
  font-weight: normal;
}

footer {
  text-align: center;
}